@charset "utf-8";
html[data-useragent*='msie 8']
  .people_type
  .lst_cont.audio_clip
  .play_thumb_area
  .progressbar,
html[data-useragent*='msie 8']
  .people_type
  .lst_cont.audio_clip
  .play_thumb_area
  .status {
  display: none;
}
html[data-useragent*='msie 8']
  .people_type
  .lst_cont.audio_clip
  .play_thumb_area
  .thumb_mask {
  display: block;
}
/* NTS OSH 20130819 */

/* -----sp_common---- */
/* 공통 */
body {
  margin: 0 10px;
  font-family: '굴림', Gulim, Helvetica, sans-serif;
}
div,
ul,
dl,
p,
td,
th,
input {
  font-family: '굴림', Gulim, Helvetica, sans-serif;
  font-size: 12px;
  color: #000;
}
div,
ul,
li,
dl,
dt,
dd,
p,
input,
h2,
h3,
em,
address,
fieldset,
form,
iframe {
  margin: 0;
  padding: 0;
}
img,
fieldset,
iframe {
  border: none;
}
iframe {
  display: block;
}
li {
  list-style-type: none;
}
table {
  clear: both;
  border-collapse: collapse;
}
em,
address {
  font-style: normal;
}
input {
  padding-right: 1px;
}
.skip,
legend,
hr {
  display: block;
  overflow: hidden;
  position: absolute;
  top: -5000px;
  left: 0;
}
legend,
hr {
  display: none;
}
a {
  color: #0033ac;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.bar {
  margin: 0 1px 0 0;
  color: #bbb;
}
.blind {
  visibility: hidden !important;
  overflow: hidden !important;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 0 !important;
  height: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
  font-size: 0 !important;
  line-height: 0 !important;
}

#scontent {
  margin-top: 40%;
  text-align: center;
}
